<header>
    <div class="top-nav">
        <div class="top-nav-links">
            <a href="index.html">Inicio</a>
            <a href="sobre-mi.html">Sobre mí</a>
            <a href="proyectos.html">Proyectos</a>
            <a href="laboratorio.html">Laboratorio</a>
            <a href="articulos.html">Artículos</a>
            <a href="retos.html">Retos</a>
            <a href="contacto.html" style="color: var(--primary);">Contacto</a>
        </div>
        <div>
            <span><a href="#" id="search-btn" style="color: inherit; text-decoration: none;"><svg width="16" height="16"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        style="display:inline; margin-right:5px; vertical-align:middle;">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg> Buscar</a></span>
        </div>
    </div>
    <div class="logo-area">
        <a href="index.html" class="logo-text">
            Yair Alex<span> ander Córdoba Pal</span>omeque<span>.</span>
        </a>
    </div>
</header>